body{
    font-family: 'Mukta', sans-serif;
    margin: 0;   
    font-size: 80px;
    background-image: url(img/top.jpg);
    background-repeat: repeat-x;
}
section{
    display: flex;   
}
#top-padding{
    padding-left: 45px;
    padding-top: 480px;
}
.section-width{
    width: 50%;
    padding-left: 7%;
    padding-right: 1%;
}
#head-style{
    font-size: 150px;
    font-weight: 900;
    color: rgba(87, 79, 79, 0.884);
}
#head-para{
    color: grey
}
span{
    color: rgb(95, 191, 230)
}
.click{
    text-decoration: none;
    background-image: linear-gradient(darkblue, skyblue);
    padding: 55px 95px;
    border-radius: 100px;
    color: white;
}
#back-img{
    background-image: url(img/frame.jpg);
    background-repeat: no-repeat;
}
.hungry{
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 7%;
    color: rgba(87, 79, 79, 0.884);
}
.popular{
    padding-right: 25%;
    padding-left: 25%;
    text-align: center;
}
.box{
    padding: 10px 10px 10px 10px;
    border-radius: 70px;
    box-shadow: 10px 10px 40px grey;
    transform: scale(50);
}
.box-width{
    width: 33.3%;
    padding-right: 2%;
    padding-left: 2%;
    
}
#box-side{
    padding-right: 7%;
    padding-left: 7%;
}
.inbox{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 65px;
}
.box-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    border-radius: 70px;
}
#menu{
    text-align: center;
    display: inline;
}
#foots{
    size: 200px;
}
footer{
    color: gray;
    text-align: center;
    background-color: black;
    padding-top: 80px;
    padding-bottom: 200px;
}


